@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto&display=swap');
body, h2,
p   {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;      /* tamanho da fonte */
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
h2{
    font-size: 2rem;
    padding: 20px 0;

}
header{
    text-align: center;
    padding: 15px 0;
}

#banner-principal {
    width: 100%; 
    height: 250px;
    background-image: url(img/banner2024.png);
    background-size: cover;
    background-position: center;
}

.infos{
    background-color: #560076;
    padding-bottom: 25px;
}
.wrap{

    text-align: center;
    line-height: 1.7rem;
    width: 800px;
    margin: 0 auto;
}
.multi_columns{
    display: flex;
    text-align: left;
    justify-content: space-between;

}
.multi_columns p{
    width: 325px;
}


#banner-2{
    width: 100%; 
    height: 350px;
    background-image: url(img/banner1_LP_Rem.png);
    background-size: cover;
    background-position: center;
}


.vagas{
    width: 100%; 
    background-image: url(img/img2.png);
    background-size: cover;
    background-position: center;
    
}

.titulo-vagas {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-around;
}

.img-titulo{
    max-width: 120px;
}
.titulo-vagas h2{
    max-width: 350px;
    letter-spacing: .2rem;
    line-height: normal;
}
.vagas p{
    text-align: left;
    padding: 20px;
}

.novidades{
    background-color: #3D0B51;
    padding: 20px 0;
}

.titulo-novidades{
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    padding-right: 100px;
}
.titulo-novidades img{
    max-width: 190px;
}
.titulo-novidades h2{
    max-width: 500px;
    letter-spacing: .2rem;
    line-height: normal;
}


#banner-3{
    width: 100%; 
    height: 350px;
    background-image: url(img/banner2_LP_Rem.png);
    background-size: cover;
    background-position: center;
}


.presentes{
    background-color: #560076;
    padding: 25px 0;
}
.presentes p{
    text-align: left;
    margin-top: 10px;
    
}

#brindes{
    display: block;
    max-inline-size: 100%;
    background-color: #fff;
    border-radius: 2rem;
    margin-top: 25px;
}
figcaption{
    font-size: 12px;
}

#l7{
    float: right;
    max-width: 100px;
    max-height: 100px;
    padding-top: 10px;
    padding-left: 10px;
}


.informacoes-importantes{
    background-color: #3D0B51;
    padding: 25px 0;
}

.titulo-informacoes-importantes{
    border: 3px solid #FFC222;
    border-radius: 50px;
    text-align: left;
    position: relative;
    margin-bottom: 80px;
}
.titulo-informacoes-importantes h2{
    color: #FFC222;
    text-align: center;
}

#balao{
    max-width: 120px;
    position: absolute;
    top: -20px;
}

.button {
    border: none;
    background: #3d0b51;
    padding: 20px 30px;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
    }
 .button:hover {
    background: #7f369e;
    color: #ccc;
    }
 .button:active {
    background: #3d0b51;
    }

.inicar-rematricula{
    width: 100%; 

    background-image: url(img/footer2024.png);
    background-size: cover;
    background-position: center;
}

.titulo-iniciar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    line-height: 1.1;
}
.titulo-iniciar h2{
    width: 70%;
    text-align: left;
}


.final h2{
    font-size: 1.9rem;
    color: #3D0B51;
    padding: 30px 0;
}
.final-agradece p{
    text-align: right;
    color: #3D0B51;
    font-weight:500;
}
.final-agradece{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media screen and (max-width: 600px) {

    .wrap{
        width: auto;
        padding: 15px;
    }
    .multi_columns {
        flex-direction: column;
    }
    .multi_columns p{
        width: auto;
    }
    .titulo-vagas{
        max-width: none;
        flex-direction: column;
    }
    .titulo-vagas h2{
        max-width: none;
    }
    .vagas p {
        padding: 0
    }
    .titulo-novidades{
        flex-direction: column;
        padding: 0;
    }
    #balao {
        max-width: 90px;
        position: absolute;
        top: 0;
    }
    .titulo-iniciar {
        flex-direction: column;
    }
    .titulo-iniciar h2 {
        width: 100%;
        text-align: center;
    }
  }